<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>myFile Search Engine</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/aj.js"></script>  
<link rel="stylesheet" href="/static/mystyle.css">
<link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body>

<br></br>
<p><img src="/static/logo.jpg" class="imgcent" alt="search files"></p>
  
  <div class="hero">
      <div id="searchBox">
        <i class="fas fa-power-off" style="font-size:24px;color:red" id="googleIcon"></i>
        <input type="text" name="search_text" id="search_text" placeholder="Search filename or partial filename" onkeyup="myFunction()"/>
        <i class="fa fa-hand-o-left" style="font-size:36px"></i>
      </div>
    
    </div>
<div class="container search-table" id="result"></div>
   

</body>
</html>